In [20]:
import pandas as pd

Najprej vse naše podatke predstavimo v tabeli.

In [3]:
nepremicnine = pd.read_csv(r'..\projektna_naloga_nepremicnine\projektna_naloga_nepremicnine\oglasi.csv')

In [4]:
nepremicnine

,tip hise,lokacija,cena,površina,število spalnic,število kopalnic,agencija
0,Seaside property with garden,La Rochelle (17),coerce,117,3,coerce,ni podatka o agenciji
1,House with terrace,Uzès (30),713000,140,4,1,By Styles
2,House,Pyla sur mer (33),995000,108,3,coerce,By Maxwell-baynes Bordeaux-bassin - Christie’s...
3,House,Perpignan (66),895000,330,7,1,By Beautiful South
4,House with garden,Uzès (30),775000,222,4,coerce,By Uzes - Sotheby&#39;s International Realty
...,...,...,...,...,...,...,...
1027,House with pool and terrace,Uzès (30),850000,168,3,coerce,By Espaces Atypiques Nimes
1028,House with terrace,Ales (30),499000,299,7,1,By Espaces Atypiques Nimes
1029,House with pool and terrace,Uzès (30),749500,190,5,coerce,By Espaces Atypiques Nimes
1030,House with pool,Ales (30),470000,262,4,1,By Espaces Atypiques Nimes
1031,House with pool and terrace,Chusclan (30),729000,164,5,1,By Espaces Atypiques Nimes

Želimo dobiti boljši občutek o podatkih, zato bomo za vsak oglasi izračunali še ceno glede na površino hiše. Te podatke bomo dodali v tabelo v dodatni stolpec. Nato bomo podatke še sortirali naraščajoče glede na ceno na kvadrat.

In [5]:
nepremicnine['cena'] = pd.to_numeric(nepremicnine['cena'], errors='coerce')
nepremicnine['površina'] = pd.to_numeric(nepremicnine['površina'], errors='coerce')

In [18]:
nepremicnine['cena glede na površino hiše'] = round(nepremicnine.cena / nepremicnine.površina)

In [19]:
nepremicnine.sort_values('cena glede na površino hiše')

,tip hise,lokacija,cena,površina,število spalnic,število kopalnic,agencija,cena glede na površino hiše
630,House,Tarascon (13),260000.0,358.0,7,coerce,By 36 Heures Immo,726.0
954,House,Paray-le-Monial (71),480000.0,560.0,14,coerce,By Safti,857.0
669,House,La Rochelle (17),623800.0,700.0,14,coerce,By Diva,891.0
840,House,Vendome (41),294000.0,320.0,6,coerce,By Agence Mellinger Immobilier,919.0
742,House with pool,Saint-Mesmin (10),399000.0,414.0,5,1,By Yves Damonte Immobilier,964.0
...,...,...,...,...,...,...,...,...
146,House with pool,Fourneville (14),997500.0,NaN,4,1,By Barnes Deauville,NaN
364,House,Sallenelles (14),840000.0,NaN,5,coerce,By Barnes Deauville,NaN
686,House with pool and garden,Weitbruch (67),599900.0,NaN,5,1,By Christine Fuchs Immobilier,NaN
957,House with garden and terrace,Rambouillet (78),NaN,122.0,5,1,By Toulzac &amp; Nowak Immobilier,NaN
969,House,Barneville-Carteret (50),NaN,97.0,3,1,By Cabinet Faudais Saint-lo,NaN

Radi bi še dobili občutek koliko posesti posameznega "tipa" nepremičnine imamo (npr. koliko hiš, hiš s teraso, vil..). To bomo za lažjo predstavo uprizorili s stolpičnim diagramom.

In [22]:
grupirani_tipi_his = nepremicnine.groupby('tip hise').size()

In [25]:
grupirani_tipi_his.sort_values()

tip hise
Farmhouse with outbuildings                  1
Farmhouse with pool                          1
Seaside villa with pool and garden           1
Seaside property with garden                 1
Seaside house with terrace                   1
Seaside house with pool and terrace          1
Seaside house with pool and garden           1
Seaside house with garden and terrace        1
Seaside house with garden                    2
Villa with garden and terrace                2
Contemporary house with pool and garden      2
Seaside house                                2
Longère                                      2
Bastide                                      4
Farmhouse                                    6
Villa with pool and garden                   9
Villa with terrace                          11
Mas                                         13
Villa                                       15
Villa with pool                             18
House with pool and garden                  22
House with garden                           26
House with garden and terrace               29
Villa with pool and terrace                 32
House with pool                            109
House with pool and terrace                164
House with terrace                         204
House                                      352
dtype: int64